<!-- Portfolio -->
<section class="portfolio">      
    <img src="{{ 'dell.png' | asset_url }}" alt="" />      
    <img src="{{ 'cinema_display.png' | asset_url }}" alt="" />
    <img src="{{ 'desktop.png' | asset_url }}"alt="" />
    <img src="{{ 'htc.png' | asset_url }}" alt="" />
    <img src="{{ 'iphone6.png' | asset_url }}" alt="" />
    <img src="{{ 'powermac.png' | asset_url }}" alt="" />
</section>