<!-- Portfolio -->
<section class="portfolio-block-container">      

    <div class="portfolio-block-1">
        <img src="{{ 'dell.png' | asset_url }}" alt="" />      
        <img src="{{ 'cinema_display.png' | asset_url }}" alt="" />
        <img src="{{ 'desktop.png' | asset_url }}"alt="" />
    </div>

    <div class="portfolio-block-2">
        <img src="{{ 'htc.png' | asset_url }}" alt="" />
        <img src="{{ 'iphone6.png' | asset_url }}" alt="" />
        <img src="{{ 'powermac.png' | asset_url }}" alt="" />        
    </div>

</section>